 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1039px;
}

.u-section-1 .u-shape-1 {
  width: 801px;
  height: 552px;
  margin: 193px auto 0 46px;
}

.u-section-1 .u-image-1 {
  width: 783px;
  height: 670px;
  object-position: 0% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -636px auto 0 0;
}

.u-section-1 .u-group-1 {
  min-height: 403px;
  width: 625px;
  margin: -201px 0 59px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px 35px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-family: "Advent Pro";
  text-transform: uppercase;
  font-weight: 700;
  margin: 54px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 22px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 998px;
  }

  .u-section-1 .u-shape-1 {
    width: 704px;
    height: 497px;
    margin-top: 203px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    width: 643px;
    height: 643px;
    background-position: 50% 50%;
    margin-top: -651px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -156px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 875px;
  }

  .u-section-1 .u-shape-1 {
    width: 630px;
    height: 418px;
    margin-top: 123px;
    margin-left: 8px;
  }

  .u-section-1 .u-image-1 {
    width: 519px;
    height: 519px;
    margin-top: -518px;
  }

  .u-section-1 .u-group-1 {
    min-height: 419px;
    margin-top: -131px;
    margin-bottom: 46px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 876px;
  }

  .u-section-1 .u-shape-1 {
    width: 494px;
    height: 314px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 438px;
    height: 438px;
    margin-top: -418px;
  }

  .u-section-1 .u-group-1 {
    min-height: 455px;
    width: 433px;
    margin-top: -103px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 805px;
  }

  .u-section-1 .u-shape-1 {
    height: 227px;
    margin-top: 57px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 275px;
    height: 275px;
    margin-top: -258px;
    margin-left: 57px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -28px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 30px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 959px;
}

.u-section-2 .u-text-1 {
  font-family: Cambay;
  font-weight: 700;
  font-size: 3.75rem;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  width: 749px;
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-2 .u-shape-1 {
  height: 219px;
  margin-top: 208px;
  margin-bottom: 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  width: 1140px;
  margin: -387px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 30px) calc(33.3333% - 30px) calc(33.3333% - 30px);
  min-height: 1155px;
  grid-gap: 45px 45px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 270px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-text-3 {
  letter-spacing: normal;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 29px 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 0.9375rem;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 11px auto 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 270px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-text-4 {
  letter-spacing: normal;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 29px 0 0;
}

.u-section-2 .u-btn-2 {
  font-size: 0.9375rem;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 11px auto 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  height: 270px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-text-5 {
  letter-spacing: normal;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 29px 0 0;
}

.u-section-2 .u-btn-3 {
  font-size: 0.9375rem;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 11px auto 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  height: 270px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-text-6 {
  letter-spacing: normal;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 29px 0 0;
}

.u-section-2 .u-btn-4 {
  font-size: 0.9375rem;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 11px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 30px));
    min-height: 952px;
  }

  .u-section-2 .u-image-1 {
    height: 214px;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 214px;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 214px;
    margin-left: initial;
  }

  .u-section-2 .u-image-4 {
    height: 214px;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 22.5px));
    min-height: 1094px;
  }

  .u-section-2 .u-image-1 {
    height: 253px;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 253px;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 253px;
    margin-left: initial;
  }

  .u-section-2 .u-image-4 {
    height: 253px;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    height: 439px;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 439px;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 439px;
    margin-left: initial;
  }

  .u-section-2 .u-image-4 {
    height: 439px;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    width: 324px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    height: 293px;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 293px;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 293px;
    margin-left: initial;
  }

  .u-section-2 .u-image-4 {
    height: 293px;
    margin-left: initial;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 768px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin: 60px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 123px;
  margin-bottom: 53px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(20% - 0.8px) calc(20% - 0.8px) calc(20% - 0.8px) calc(20% - 0.8px) calc(20% - 0.8px);
  min-height: 472px;
  grid-gap: 1px 1px;
  grid-auto-columns: calc(20% - 0.8px);
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-3 .u-image-1 {
  width: 242px;
  height: 242px;
  background-image: url("images/angelhurtado1.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -31px -17px 0;
}

.u-section-3 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 12px 20px 0;
}

.u-section-3 .u-text-4 {
  font-weight: 300;
  font-style: normal;
  margin: 31px 20px 0;
}

.u-section-3 .u-social-icons-1 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 101px;
  min-width: 68px;
  margin: 12px auto 0;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-3 .u-image-2 {
  width: 242px;
  height: 242px;
  background-image: url("images/NYE.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -31px -17px 0;
}

.u-section-3 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  margin: 12px 20px 0;
}

.u-section-3 .u-text-7 {
  font-weight: 300;
  font-style: normal;
  margin: 31px 20px 0;
}

.u-section-3 .u-social-icons-2 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 101px;
  min-width: 68px;
  margin: 12px auto 0;
}

.u-section-3 .u-icon-4 {
  height: 100%;
}

.u-section-3 .u-icon-5 {
  height: 100%;
}

.u-section-3 .u-icon-6 {
  height: 100%;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-3 .u-image-3 {
  width: 242px;
  height: 242px;
  object-position: 50% 94.17%;
  background-image: url("images/steven.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -31px -17px 0;
}

.u-section-3 .u-text-8 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  margin: 12px 20px 0;
}

.u-section-3 .u-text-10 {
  font-weight: 300;
  font-style: normal;
  margin: 31px 20px 0;
}

.u-section-3 .u-social-icons-3 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 101px;
  min-width: 68px;
  margin: 12px auto 0;
}

.u-section-3 .u-icon-7 {
  height: 100%;
}

.u-section-3 .u-icon-8 {
  height: 100%;
}

.u-section-3 .u-icon-9 {
  height: 100%;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 10px;
}

.u-section-3 .u-image-4 {
  width: 242px;
  height: 242px;
  object-position: 50% 94.17%;
  background-image: url("images/eddy1.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -31px -17px 0;
}

.u-section-3 .u-text-11 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-3 .u-text-12 {
  font-weight: 700;
  margin: 12px 20px 0;
}

.u-section-3 .u-text-13 {
  font-weight: 300;
  font-style: normal;
  margin: 31px 20px 0;
}

.u-section-3 .u-social-icons-4 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 101px;
  min-width: 68px;
  margin: 12px auto 0;
}

.u-section-3 .u-icon-10 {
  height: 100%;
}

.u-section-3 .u-icon-11 {
  height: 100%;
}

.u-section-3 .u-icon-12 {
  height: 100%;
}

.u-section-3 .u-list-item-5 {
  background-image: none;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 10px;
}

.u-section-3 .u-image-5 {
  width: 242px;
  height: 242px;
  object-position: 50% 94.17%;
  background-image: url("images/HEY.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -31px -17px 0;
}

.u-section-3 .u-text-14 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-3 .u-text-15 {
  font-weight: 700;
  margin: 12px 20px 0;
}

.u-section-3 .u-text-16 {
  font-weight: 300;
  font-style: normal;
  margin: 31px 20px 0;
}

.u-section-3 .u-social-icons-5 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 101px;
  min-width: 68px;
  margin: 12px auto 0;
}

.u-section-3 .u-icon-13 {
  height: 100%;
}

.u-section-3 .u-icon-14 {
  height: 100%;
}

.u-section-3 .u-icon-15 {
  height: 100%;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(5, calc(20% - 0.8px));
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 0.6666666666666666px));
    grid-auto-columns: calc(33.333333333333336% - 0.6666666666666666px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 0.5px));
    grid-auto-columns: calc(50% - 0.5px);
  }

  .u-section-3 .u-image-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }

  .u-section-3 .u-text-3 {
    width: auto;
  }

  .u-section-3 .u-text-4 {
    width: auto;
  }

  .u-section-3 .u-image-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-5 {
    width: auto;
  }

  .u-section-3 .u-text-6 {
    width: auto;
  }

  .u-section-3 .u-text-7 {
    width: auto;
  }

  .u-section-3 .u-image-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-8 {
    width: auto;
  }

  .u-section-3 .u-text-9 {
    width: auto;
  }

  .u-section-3 .u-text-10 {
    width: auto;
  }

  .u-section-3 .u-image-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-11 {
    width: auto;
  }

  .u-section-3 .u-text-12 {
    width: auto;
  }

  .u-section-3 .u-text-13 {
    width: auto;
  }

  .u-section-3 .u-image-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-14 {
    width: auto;
  }

  .u-section-3 .u-text-15 {
    width: auto;
  }

  .u-section-3 .u-text-16 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}